# ------------------------------------------------------------------------
# GENERAL SPRING BOOT / JAVA MAVEN
# ------------------------------------------------------------------------
/target/
/.mvn/
/bin/
**/*.class
/test-output/
/build/

# Maven/Gradle local files
pom.xml.tag
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
dependency-check-report.html

# Logs
*.log
logs/
*.war
*.jar
*.zip

# ------------------------------------------------------------------------
# IDE FILES (NetBeans, IntelliJ, VS Code)
# ------------------------------------------------------------------------
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbuserdir/
/.nb-gradle/
/dist.zip

# IntelliJ / VS Code
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# macOS / OS Files
.DS_Store

# ------------------------------------------------------------------------
# BASE DE DATOS Y SECRETS
# ------------------------------------------------------------------------
# Configuración local (ej: contraseñas de producción)
!src/main/resources/application.properties 
# Ignorar otras configuraciones de ambiente (si existen)
application*.yml
application*.properties
.env

# ------------------------------------------------------------------------
# REGLAS PARA ARCHIVOS SUBIDOS (AVATAR)
# ------------------------------------------------------------------------
# 1. Ignorar TODO el contenido de la carpeta 'uploads' (las imágenes grandes)
/uploads/*

# 2. EXCEPCIÓN: Forzar la inclusión del archivo .gitkeep para que la carpeta exista.
!/uploads/.gitkeep